
body 
{ 
  font-family: verdana, arial, serif;
  color: #000000;
  background:  #ffffff;
  font-size: 11pt;
  margin-top: 10;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 0;
}

td {
   font-family: verdana, arial, serif; 
	font-size: 11pt;
} 

th {
   text-align: left;
} 
 
#li {
# text-align: justify
#} 

h1 {
	font-size: 18pt;
	font-family: verdana, arial, serif; 
   color: #ffffff;
   background:  #555555;
   padding: 5px;
   border: #000 1px solid;
} 
 
h2 { 
	font-size: 16pt;
	font-family: verdana, arial, serif; 
   color: #ffffff;
   background:  #666666;
   padding: 4px;   
   border: #000 1px solid;
} 

h3 {
  font-family: verdana, arial, serif; 
  color: #ffffff;
  background:  #777777;
  padding: 4px;
  border: #000 1px solid;
} 
  
h4 {
  font-family: verdana, arial, serif; 
  color: #ffffff;
  background:  #888888;
  padding: 2px;
  border: #000 1px solid;
} 

 .va-middle {
    vertical-align:middle;
 }
 
 #plea {
    background:  #ccccee;
    padding: 4px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italics;
    text-align: center;
 }
 
 #alert {
    background:  #ffcccc;
    padding: 4px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:  12pt;
    font-style: bold;
    text-align: center;
 }
 